@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Oswald');

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(IMG_0056.JPG) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* Header */

.content h1{
    font-family: 'Raleway', sans-serif;
    color: #D0D0D0;
    /*text-shadow: 0px 0px 200px #000;*/
    font-size: 800%;
    margin-bottom: 0px;
}

/*Nav */

#nav{
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 200px;
  
}
.navbtn {
   
    font-family: 'Oswald', sans-serif;
    color: #f9f9f9;
    font-size: 200%;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    
}

.navbtn:hover { 
    color: #000;
}

/* Bio */

.about-bg{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(aboutbg.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
    
    
}

h3 {
    margin: 0;
    top: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    color: #edf5ee;
    text-align: center;
   
}

.about-div{
    background-color: rgb(0, 0, 0);
    opacity: .75;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-top: 100px;
    top: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 220%;
    
}


.p-left{
    text-align: left;
    padding-left: 25px;
    color: #ffffff;
    opacity: 1;
}

.p-right{
    text-align: right;
    padding-right: 25px;
    color: rgb(203, 151, 231);
    font-weight: 900;
}


