@media screen and (min-width: 770px) and (max-width: 1024px) {
    .content h1{
        font-size: 1060%;
    }

    #nav{
        margin-left: 10px;
        font-size: 205%;
    }

    .navbtn{
        font-size: 150%;

    }
}


@media screen and (min-width: 420px) and (max-width: 768px) {
    .content h1{
        font-size: 700%;
    }

    #nav{
        margin-left: 10px;
        font-size: 150%;
    }

    .navbtn{
        font-size: 150%;

    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    
        #nav{
            margin-left: 32px;
            font-size: 85%;
        }
        
        .content h1{
            margin-left: 38px;
            font-size: 372%;
        }
    
        .contactlist{
            padding-left: 30px;
            font-size: 205%;
        }

        #webcell{
            display: none;
        }

        #mobilecell{
            display: inherit;
        }
        
    }

    @media screen and (min-width: 380px) and (max-width: 412px) {
        
            #nav{
                margin-left: 32px;
                font-size: 85%;
            }
            
            .content h1{
                margin-left: 38px;
                font-size: 372%;
            }
        
            .contactlist{
                padding-left: 30px;
                font-size: 205%;
            }
            
        }

@media screen and (min-width: 370px) and (max-width: 375px) {
            
                #nav{
                    margin-left: 35px;
                }
                .content h1{
                    font-size: 300%;
                    margin-left: 31px;
        
                    
                }
        
                .contactlist{
                    padding-left: 20px;
                    font-size: 186%;
                }
        
                #webcell{
                    display: none;
                }
        
                #mobilecell{
                    display: inherit;
                }
            
            
            }

@media screen and (max-width: 360px) {
    
        #nav{
            margin-left: 35px;
        }
        .content h1{
            font-size: 300%;
            margin-left: 31px;

            
        }

        .contactlist{
            padding-left: 20px;
            font-size: 180.7%;
        }

        #webcell{
            display: none;
        }

        #mobilecell{
            display: inherit;
        }
    
    
    }

    
@media screen and (max-width: 320px) {

        #nav{
            font-size: 58%;
        }
        .content h1{
            font-size: 279%;
        }

        .contactlist{
            font-size: 155%;
        }
    
    
    }