@media screen and (max-width: 768px) {
    .content h1{
        font-size: 500%;
    }

    #nav{
        margin-left: 10px;
    }

    .navbtn{
        font-size: 150%;

    }
}

@media screen and (max-width: 320px) {

    .content h1{
        font-size: 350%;
    }


}

@media screen and (max-width: 375px) {
    
        .content h1{
            font-size: 350%;
        }
    
    
    }